@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}

.logo {
    display: flex; /* Use flexbox to arrange logo items horizontally */
    gap: 0.5rem; /* Space between logo icon and text (8px) */
    align-items: center; /* Vertically center logo items */
}
/* Logo icon */
.logo span:nth-child(1) {
    background-color:white ; /* white background */
    color: rgb(35, 35, 112); /* blue text color */
    display: flex; /* Use flexbox for centering content */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    width: 2rem; /* 32px width */
    height: 2rem; /* 32px height (makes it a square) */
    border-radius: 5px; /* Slightly rounded corners */
    font-size: larger; /* bold text */
    
}
/* Logo text (second child) */
.logo h1:nth-child(2) {
     font-weight: 100; /* Semi-bold text */
    font-size: large;
    color:white; /*  text color*/
    text-decoration: underline;
   
}



header {
    width: 100%;
    height: 4.5rem;
    background:#1f2937; /* color header */
    position: sticky; /*  sticky for hero*/
    top: 0;
    z-index: 1000;
    padding: 0 2rem;
    
}

.logo { display: flex; align-items: center; gap: 10px; }

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.desktop {
    display: none;
    align-items: center;
      margin-left: auto;
    gap: 2rem;
}

.desktop ul {
    display: flex;
    gap: 2.5rem;
    list-style: none;
   
   
}

.desktop a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.2s;
}

.desktop a:hover,
.desktop a.active {
    color:rgb(171, 171, 181);
}

/* MOBILE MENU */
.mobile {
    position: relative;
    margin-left: auto;
}

.menu-toggle {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}


.mobile-dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 1rem;
    top: 100%;     
    right: 0;  
    background: rgb(230, 228, 228);
    border-radius: 8px;
    padding: 1rem;
    min-width: 200px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);      
}



.mobile-dropdown ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.mobile-dropdown a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.mobile:hover .mobile-dropdown {
    display: flex;
}


.Hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/destination_page_hero_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.Hero h1{
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
    z-index: 10;
    text-align: center;
}
.Overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 6, 19, 0.3);
}

.Destination{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Destination-intro{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.Destination-intro h2{
    font-size: 2rem;
    text-align: center;
    width: 90%;
}

.Destination-intro p{
    text-align: center;
    width: 90%;
    font-size: 1.2rem;
}

.Destination-card{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding:20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    overflow: hidden;
    width: 90%;
    background-color: white;
    transition: transform 0.5s ease-in-out;
}

article:hover{
    transform: scale(1.1);
}

.card-image{
    background-color: #f6f6f6;
    border-radius:12px;
    overflow: hidden;
    width: 100%;
}

img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-content span{
    font-weight: 700;
    font-size: 1.2rem;
}

.card-content a {
    background-color: rgb(11, 9, 110);
    align-self: center;
    padding: 1rem 3.5rem;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.card-content a:hover{
    transform: scale(1.1);
}

.main-footer {
    background: #1f2937;
    color: #fff;
    padding: 40px 20px;
}
.footer-grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:20px;
}
.footer-links a {
    display: block;
    color:#ccc;
    margin:5px;
    text-decoration: none;
}
.footer-social a {
    display: block;
    color:#ccc;
    margin:5px;
    text-decoration: none;

}
.footer-links a:hover,
.footer-social a:hover{
    color:#fff;
}
    
.socail-icons a{
    margin-right: 10px;
    font-size: 20px;
}
.go-top {
    margin-top:20px;

}
.footer-bottom{
    margin-top:20px;
    text-align: center;
    font-size: 14px;
}


/* RESPONSIVE BREAKPOINTS */
@media (min-width: 768px) {
    .desktop { display: flex; }
    .mobile { display: none; }
    .hero h1 { font-size: 3.5rem; }
}

@media (min-width: 768px) {
    .Hero{
        height: 60vh;
    }

    .Destination-card{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    article p {
        font-size: 1.3rem;
    }

    article h3 {
        font-size: 1.5rem;
    }

    .card-content a{
        font-size: 1.3rem;
    }

    .card-content span{
        font-size: 1.3rem;
    }

    .Destination-intro p{
        font-size: 1.3rem;
        max-width: 40rem;
    }
}


@media (min-width: 1024px) {
    .Destination-card{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    article p{
        font-size: 1.4rem;
    }

    article h3 {
        font-size: 1.6rem;
    }

    .card-content a{
        font-size: 1.4rem;
    }

    .card-content span{
        font-size: 1.4rem;
    }

    .Destination-intro p{
        font-size: 1.4rem;
        max-width: 50rem;
    }
}
